<div class="blog-collection-grid">
    <div class="page-padding">
      <div class="container-v2">
        <div class="blog-collection-top">
          <h1 class="blog-collection-title _2e">{{ 'tn40f4cbc6' | t }}</h1>
          <div class="filter-bar">
            <div class="filter-container">
              <div class="filter-button default">{{ 't3b7a9ef' | t }}</div>
              <div class="filter-button">{{ 't43d02e25' | t }}</div>
              <div class="filter-button">{{ 'tn51b474d9' | t }}</div>
              <div class="filter-button">{{ 'tn28fa993b' | t }}</div>
              <div class="filter-button">{{ 'tn3121e222' | t }}</div>
            </div>
          </div>
        </div>
        <div class="blog1_list-wrapper">
          <div class="w-layout-grid blog-card-list">
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 32vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 't43d02e25' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
                <div class="mobile-blog-author">{{ 'tna6d0f07' | t }}</div>
              </div>
            </div>
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 'tn51b474d9' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 30vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 'tn28fa993b' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 't50d939de' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 32vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 't152a3e25' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-card">
              <a href="#" class="blog-img-link-wrapper w-inline-block">
                <div class="blog-card-img-wrapper"><img srcset="{{ 'frame-17815-p-500.png' | asset_url }} 500w, {{ 'frame-17815-p-800.png' | asset_url }} 800w, {{ 'frame-17815-p-1080.png' | asset_url }} 1080w, {{ 'frame-17815.png' | asset_url }} 1190w" loading="lazy" sizes="(max-width: 479px) 30vw, (max-width: 767px) 95vw, (max-width: 1439px) 45vw, 607px" src="{{ 'frame-17815.png' | asset_url }}" alt="" class="blog-card-img"></div>
              </a>
              <div class="blog-card-content">
                <a href="#" class="blog1_category-link w-inline-block">
                  <div class="blog-tagline">{{ 't4ce67ec5' | t }}</div>
                </a>
                <a href="#" class="blog1_title-link w-inline-block">
                  <h3 class="blog-card-h1">{{ 'tn4084007d' | t }}</h3>
                </a>
                <div class="blog-card-p-paragraph">{{ 'tn731a7d53' | t }}</div>
                <div class="featured-blog-info">
                  <div class="featured-blog-author"><img src="{{ 'image.png' | asset_url }}" loading="lazy" alt=""></div>
                  <div class="featured-blog-author-info">
                    <div class="featured-author-name">{{ 'tn1f04aef3' | t }}</div>
                    <div class="featured-blog-publish-info">
                      <div>{{ 'tn65ba5c79' | t }}</div>
                      <div class="text-block-3">{{ 't2022' | t }}</div>
                      <div>{{ 'tn3941edd1' | t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_w-pagination-wrapper pagination">
            <div class="pagination-outer">
              <div class="pagination-container">
                <div class="fs-pagination">
                  <div class="pagination-links">
                    <div class="fs-pagination-page fs-pagination-active">{{ 't31' | t }}</div>
                    <div class="fs-pagination-page">{{ 't32' | t }}</div>
                    <div class="fs-pagination-page">{{ 't33' | t }}</div>
                  </div>
                  <div class="fs-pagination-page fs-pagination-next">{{ 'tn41954522' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wave primairy-color"></div>
  </div>