<div class="usp-announcement-section">
    <div class="container-v1">
      <div class="desktop-usp-wrapper">
        <div class="usp-announcement"><img src="{{ 'vectors-wrapper.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
          <div class="announcement-p">{{ 't1f6ad604' | t }}</div>
        </div>
        <div class="usp-announcement-2"><img src="{{ 'vectors-wrapper_1.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
          <div class="announcement-p">{{ 'tn7779930e' | t }}</div>
        </div>
        <div class="usp-announcement-3"><img src="{{ 'vectors-wrapper_2.svg' | asset_url }}" loading="lazy" width="16" height="14" alt="" class="vectors-wrapper-2">
          <div class="announcement-p">{{ 't197814d8' | t }}</div>
        </div>
      </div>
      <div data-w-id="1509cbe9-ce20-2773-de92-df8bd41cf3ac" class="mobile-marquee">
        <div class="mobile-usp-marquee">
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
            <div class="announcement-p">{{ 't1f6ad604' | t }}</div>
          </div>
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper_1.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
            <div class="announcement-p">{{ 'tn7779930e' | t }}</div>
          </div>
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper_2.svg' | asset_url }}" loading="lazy" width="16" height="14" alt="" class="vectors-wrapper-2">
            <div class="announcement-p">{{ 't197814d8' | t }}</div>
          </div>
        </div>
        <div class="mobile-usp-marquee">
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
            <div class="announcement-p">{{ 't1f6ad604' | t }}</div>
          </div>
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper_1.svg' | asset_url }}" loading="lazy" width="16" height="16" alt="" class="vectors-wrapper">
            <div class="announcement-p">{{ 'tn7779930e' | t }}</div>
          </div>
          <div class="usp-announcement"><img src="{{ 'vectors-wrapper_2.svg' | asset_url }}" loading="lazy" width="16" height="14" alt="" class="vectors-wrapper-2">
            <div class="announcement-p">{{ 't197814d8' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>