
    <div class="menu-desktop-container">
      <div class="left-nav-column">
        <a href="#" target="_blank" class="logo-link"><img src="{{ 'logo.png' | asset_url }}" loading="lazy" width="152" height="31" alt="" class="logo"></a>
        <div class="nav-link-list">
          <a href="#" target="_blank" class="nav-link-active">
            <div class="text">{{ 't21ecdf' | t }}</div>
          </a>
          <a href="#" target="_blank" class="nav-link">
            <div class="text-2">{{ 'tn2191fdbd' | t }}</div>
          </a>
          <a href="#" target="_blank" class="nav-link">
            <div class="text-2">{{ 't269675' | t }}</div>
          </a>
        </div>
      </div>
      <div class="right-nav-column">
        <div class="search-module"></div>
        <a href="#" target="_blank" class="cart-btn"><img src="{{ 'vectors-wrapper_3.svg' | asset_url }}" loading="lazy" width="27.89084815979004" height="24.739999771118164" alt="" class="vectors-wrapper-3"></a>
      </div>
    </div>
    <div class="mobile-menu-container">
      <a href="#" class="menu-btn w-inline-block"><img src="{{ 'vector.svg' | asset_url }}" loading="lazy" alt="" class="closed-state-menu-icon"><img src="{{ 'close.svg' | asset_url }}" loading="lazy" alt="" class="opened-state-menu-icon"></a>
      <a href="{{ section.settings.logo_link }}" id="w-node-_65bf43e6-66fe-641c-c808-654f723a0338-723a0321" class="logo-link w-nav-brand"><img src="{{ 'logo.png' | asset_url }}" loading="lazy" alt="" class="navbar-logo"></a>
      <div id="w-node-_65bf43e6-66fe-641c-c808-654f723a033a-723a0321" class="navbar-buttons-wrapper">
        <a href="#" class="cart-icon w-inline-block"><img src="{{ 'icon-cart.svg' | asset_url }}" loading="lazy" alt="" class="image"></a>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","nav-bar");</script>
        
{% schema %}
{
  "name": "Navbar",
  "tag": "div",
  "class": "nav-bar",
  "settings": [
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo link"
    }
  ]
}
{% endschema %}