
    <div class="page-padding">
      <div class="container-v2">
        <div class="section-heading socials">
          <div class="social-h1">{{ section.settings.title | newline_to_br }}</div>
          <div class="tagline">{{ section.settings.paragraph | newline_to_br }}</div>
        </div>
        <div class="instagram-gallery">
          <a href="{{ section.settings.link_1 }}" class="instagram-main-img w-inline-block">{%- if section.settings.1e_afbeelding == nil -%}<img src="{{ '1st.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 67vw, (max-width: 767px) 69vw, (max-width: 1439px) 31vw, 419.2890625px" srcset="{{ '1st-p-500.png' | asset_url }} 500w, {{ '1st-p-800.png' | asset_url }} 800w, {{ '1st.png' | asset_url }} 868w" alt="" class="absolute-img no-hover">{%- else -%}<img src="{{ section.settings.1e_afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.1e_afbeelding.alt | escape }}" class="absolute-img no-hover" srcset="{{ section.settings.1e_afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.1e_afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.1e_afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.1e_afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.1e_afbeelding | img_url: '768x' }} 768w,{{ section.settings.1e_afbeelding | img_url: '640x' }} 640w">{%- endif -%}</a>
          <div class="instagram-3-img-grid">
            <a href="{{ section.settings.link_2 }}" class="instagram-block-holder w-inline-block">{%- if section.settings.2e_afbeelding == nil -%}<img src="{{ 'rectangle-4717.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 19vw, (max-width: 767px) 22vw, (max-width: 991px) 18vw, (max-width: 1439px) 19vw, 251.0390625px" srcset="{{ 'rectangle-4717-p-500.png' | asset_url }} 500w, {{ 'rectangle-4717.png' | asset_url }} 514w" alt="" class="absolute-img no-hover">{%- else -%}<img src="{{ section.settings.2e_afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.2e_afbeelding.alt | escape }}" class="absolute-img no-hover" srcset="{{ section.settings.2e_afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.2e_afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.2e_afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.2e_afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.2e_afbeelding | img_url: '768x' }} 768w,{{ section.settings.2e_afbeelding | img_url: '640x' }} 640w">{%- endif -%}</a>
            <a href="{{ section.settings.link_3 }}" class="instagram-block-holder w-inline-block">{%- if section.settings.3e_afbeelding == nil -%}<img src="{{ 'rectangle-4717.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 19vw, (max-width: 767px) 22vw, (max-width: 991px) 18vw, (max-width: 1439px) 19vw, 251.0390625px" srcset="{{ 'rectangle-4717-p-500.png' | asset_url }} 500w, {{ 'rectangle-4717.png' | asset_url }} 514w" alt="" class="absolute-img no-hover">{%- else -%}<img src="{{ section.settings.3e_afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.3e_afbeelding.alt | escape }}" class="absolute-img no-hover" srcset="{{ section.settings.3e_afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.3e_afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.3e_afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.3e_afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.3e_afbeelding | img_url: '768x' }} 768w,{{ section.settings.3e_afbeelding | img_url: '640x' }} 640w">{%- endif -%}</a>
            <a href="{{ section.settings.link_4 }}" class="instagram-block-holder w-inline-block">{%- if section.settings.4e_afbeelding == nil -%}<img src="{{ 'rectangle-4717.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 19vw, (max-width: 767px) 22vw, (max-width: 991px) 18vw, (max-width: 1439px) 19vw, 251.0390625px" srcset="{{ 'rectangle-4717-p-500.png' | asset_url }} 500w, {{ 'rectangle-4717.png' | asset_url }} 514w" alt="" class="absolute-img no-hover">{%- else -%}<img src="{{ section.settings.4e_afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.4e_afbeelding.alt | escape }}" class="absolute-img no-hover" srcset="{{ section.settings.4e_afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.4e_afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.4e_afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.4e_afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.4e_afbeelding | img_url: '768x' }} 768w,{{ section.settings.4e_afbeelding | img_url: '640x' }} 640w">{%- endif -%}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wave white-wave"></div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","instagram-section programs-pink");</script>
        
{% schema %}
{
  "name": "V1 - Instagram Secondairy",
  "tag": "div",
  "class": "instagram-section programs-pink",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Volg onze socials"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Sluit je aan bij 10.000+ mensen die hun aanbeveling al hebben ontvangen."
    },
    {
      "type": "image_picker",
      "id": "1e_afbeelding",
      "label": "1e Afbeelding"
    },
    {
      "type": "image_picker",
      "id": "2e_afbeelding",
      "label": "2e Afbeelding"
    },
    {
      "type": "image_picker",
      "id": "3e_afbeelding",
      "label": "3e Afbeelding"
    },
    {
      "type": "image_picker",
      "id": "4e_afbeelding",
      "label": "4e Afbeelding"
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "Link 1"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link 2"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link 3"
    },
    {
      "type": "url",
      "id": "link_4",
      "label": "Link 4"
    }
  ]
}
{% endschema %}