
    <div class="w-layout-grid header1_component">
      <div id="w-node-_57faa57f-8539-11e4-1599-a90dcf3a242b-cf3a2429" class="hero-content">
        <div class="hero-content">
          <h1 class="hero-h1">{{ section.settings.title | newline_to_br }}</h1>
          <p class="hero-p">{{ section.settings.paragraph | newline_to_br }}</p>
        </div>
        <div class="hero-content">
          <div class="hero-buttons">
            <a href="{{ section.settings.button_link_1 }}" target="_blank" class="hero-primary-btn">
              <div>{{ section.settings.button_text_1 }}</div>
            </a>
            <a href="{{ section.settings.button_link_2 }}" class="hero-secondairy-btn">
              <div>{{ section.settings.button_text_2 }}</div>
            </a>
          </div>
          <div class="hero-testimonials-div">{%- if section.settings.announcement_img == nil -%}<img src="{{ 'vectors-wrapper_4.svg' | asset_url }}" loading="lazy" width="22" height="22" alt="" class="vectors-wrapper-4">{%- else -%}<img src="{{ section.settings.announcement_img.src | img_url: 'master' }}" loading="lazy" width="22" height="22" alt="{{ section.settings.announcement_img.alt | escape }}" class="vectors-wrapper-4" srcset="{{ section.settings.announcement_img | img_url: '1920x' }} 1920w,{{ section.settings.announcement_img | img_url: '1600x' }} 1600w,{{ section.settings.announcement_img | img_url: '1366x' }} 1366w,{{ section.settings.announcement_img | img_url: '1024x' }} 1024w,{{ section.settings.announcement_img | img_url: '768x' }} 768w,{{ section.settings.announcement_img | img_url: '640x' }} 640w">{%- endif -%}
            <div>{{ section.settings.announcement_text | newline_to_br }}</div>
          </div>
        </div>
        <div class="brand-logo-hero"><img src="{{ 'brand-imgs.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 88vw, (max-width: 991px) 544.796875px, 100vw" srcset="{{ 'brand-imgs-p-500.png' | asset_url }} 500w, {{ 'brand-imgs-p-800.png' | asset_url }} 800w, {{ 'brand-imgs.png' | asset_url }} 908w" alt="" class="image-brands"></div>
      </div>
      <div id="w-node-_57faa57f-8539-11e4-1599-a90dcf3a243f-cf3a2429" class="header1_image-wrapper">{%- if section.settings.hero_image == nil -%}<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="hero-banner">{%- else -%}<img src="{{ section.settings.hero_image.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.hero_image.alt | escape }}" class="hero-banner" srcset="{{ section.settings.hero_image | img_url: '1920x' }} 1920w,{{ section.settings.hero_image | img_url: '1600x' }} 1600w,{{ section.settings.hero_image | img_url: '1366x' }} 1366w,{{ section.settings.hero_image | img_url: '1024x' }} 1024w,{{ section.settings.hero_image | img_url: '768x' }} 768w,{{ section.settings.hero_image | img_url: '640x' }} 640w">{%- endif -%}</div>
    </div>
    <div class="wave programs"></div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","hero-section programs");</script>
        
{% schema %}{
  "presets": [
    {
      "name": "V1 - Programs Hero"
    }
  ],
  "name": "V1 - Programs Hero",
  "tag": "div",
  "class": "hero-section programs",
  "settings": [
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "DOE DE TEST"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button Text 2",
      "default": "SHOP BESTSELLERS"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Krijg je figuur terug en zit weer lekker in je vel"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Sluit je aan bij 10.000+ mensen die hun aanbeveling al hebben ontvangen."
    },
    {
      "type": "textarea",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "10.245+ ACTIEVE LEDEN"
    },
    {
      "type": "image_picker",
      "id": "announcement_img",
      "label": "Announcement Img"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button Link 1"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button Link 2"
    }
  ]
}{% endschema %}